@font-face {
    font-family: 'Garamond';
    src: url('garamond.ttf') format('truetype');
}

@font-face {
    font-family: 'Source';
    src: url('source.ttf') format('truetype');
}

@font-face {
    font-family: 'Chicago';
    src: url('chicago.ttf') format('truetype');
}

html {
    background-color: oldlace;
}

body {
    margin: 0.5rem;
}

h1 {
    font-family: 'Garamond', serif;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    margin-top: 1rem;
    font-weight: normal;
}

h2 {
    font-family: 'Garamond', serif;
    font-weight: normal;
}

p {
    font-family: 'Source', sans-serif;
    margin: 0;
}

a {
    font-family: 'Chicago', sans-serif;
    font-size: 14px;
}

button {
    font-family: 'Source', sans-serif;
}

strong {
    font-weight: 600;
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

button {
    margin-top: 4px;
}

#image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
}

@media (min-width: 768px) {
    #image-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1280px) {

    #image-container {
        grid-template-columns: repeat(8, 1fr);
    }
}